* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  color: black;
  background-color: white;
}


a {
  color: inherit;
  text-decoration: none;
}